<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
</head>

<body style="box-sizing: border-box;
    background-color: #fff5c0;
    margin: 0;
    padding: 0;">
    <div style=" 
        background-color: #ffb396;
        padding: 1.2rem ;
        margin: 0;
        text-align: center;">
        <h1 style="text-align: center; margin-top: 107px;">
            Order Details</h1>
    </div>


    <div style="text-align: center; margin: 170px;">
        <table width="100%" style="border: 1px solid black; text-align: center;border-collapse: collapse;">
            <tr style="border: 1px solid black;">
                <th width="(100/3)%" style="border: 1px solid black;">Order_ID</th>
                <th width="(100/3)%" style="border: 1px solid black;">Cust_name</th>
                <th width="(100/3)%" style="border: 1px solid black;">Product_ID</th>
                <th width="(100/3)%" style="border: 1px solid black;">Product_Name</th>
                <th width="(100/3)%" style="border: 1px solid black;">Price</th>
            </tr>
            {% for avc in ord %}
            <tr width="100%" style="border: 1px solid black;">
                <!--<form action="/appointment" method="POST"></form>-->
                <td width="(100/3)%" style="border: 1px solid black;">{{avc[0]}}</td>
                <td width="(100/3)%" style="border: 1px solid black;">{{avc[1]}}</td>
                <td width="(100/3)%" style="border: 1px solid black;">{{avc[2]}}</td>
                <td width="(100/3)%" style="border: 1px solid black;">{{avc[3]}}</td>
                <td width="(100/3)%" style="border: 1px solid black;">{{avc[4]}}</td>


            </tr>{% endfor %}

        </table>
        </br>
    </div>
</body>

</html>